.navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #ffffff;
  font-size: 20px;
  position: fixed;
  width: 100%;
  z-index: 123456;
  box-sizing: border-box;
  /*-webkit-box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.75); 
  -moz-box-shadow: 0px 0px 29px 5px rgba(0,0,0,0.75); 
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.50);*/
}

.navbar a{
  float: right;
  color: #000000;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 14px;
}

/* a:hover {
  color: rgb(110, 110, 110);
} */